/* Estilos generales */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos de las secciones */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

section img {
    max-width: 100%;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Estilos de Skills */
#skills ul {
    display: flex;
    flex-wrap: wrap;
}

#skills ul li {
    flex-basis: 33.33%;
    text-align: center;
}

/* Estilos de Hobbies */
#hobbies ul {
    display: flex;
    flex-wrap: wrap;
}

#hobbies ul li {
    flex-basis: 33.33%;
    text-align: center;
}

/* Estilos de Formación Académica */
#formacion div {
    margin-bottom: 20px;
}

/* Estilos de Experiencia Profesional */
#proyectos div {
    margin-bottom: 20px;
}

#proyectos a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Estilos de Contacto */
#contacto form {
    max-width: 400px;
    margin-top: 20px;
}

#contacto input,
#contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#contacto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos del pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.nav-link.active {
    border: 2px solid red;
}